*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
}

.container{
width:100%;
display:flex;
justify-content:center;
}

.weather-card{

backdrop-filter:blur(15px);
background:rgba(255,255,255,0.1);
border-radius:20px;
padding:40px;
width:350px;
text-align:center;
color:white;
box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

.weather-card h1{
margin-bottom:20px;
}

.search-box{
display:flex;
gap:10px;
margin-bottom:25px;
}

.search-box input{

flex:1;
padding:10px;
border:none;
border-radius:8px;
outline:none;

}

.search-box button{

padding:10px 15px;
border:none;
border-radius:8px;
background:#ff7b54;
color:white;
cursor:pointer;

}

.weather-info img{
width:100px;
}

.details{

display:flex;
justify-content:space-between;
margin-top:20px;

}

.box{

background:rgba(255,255,255,0.2);
padding:15px;
border-radius:10px;
width:45%;

}

.box p{
font-size:14px;
}